<%- include('template/header') %>
<%- include('template/navigation') %>

<div class="container hero">
  <!-- dekstop -->
  <div class="row dekstop">
      <div class="col-lg-7 desc-hero" data-aos="fade-down">
        <div class="wrap-desc-hero" >
          <div class="title">Temukan Solusi Bisnis Anda</div>

          <div class="desc">
           <p>
              Bersama kami temukan solusi terbaik untuk membangun bisnis anda agar semakin berkembang dan buat semua pelanggan anda semakin dekat dengan bisnis anda 
           </p>
          </div>

          <a href="" class="btn btn-temukan-solusi">Temukan Solusi</a>

        </div>
      </div>

       <div class="col-lg-5 image-hero"  data-aos="fade-down">
        <img src="img/hero-image.png" alt="">
      </div>
  </div>
  <!-- end dekstop -->

  <!-- mobile -->
  <div class="row mobile">
      <div class="col-lg-5 image-hero" data-aos="fade-down">
        <img src="img/hero-image.png" alt="">
      </div>
      <div class="col-lg-7 desc-hero">
        <div class="wrap-desc-hero" data-aos="fade-down">
          <div class="title">Temukan Solusi Bisnis Anda</div>

          <div class="desc">
           <p>
              Bersama kami temukan solusi terbaik untuk membangun bisnis anda agar semakin berkembang dan buat semua pelanggan anda semakin dekat dengan bisnis anda 
           </p>
          </div>

          <a href="" class="btn btn-temukan-solusi">Temukan Solusi</a>

        </div>
      </div>
  </div>
  <!-- end mobile -->
</div>


<section class="my-product">
  <div class="container">
    
    <div class="row" data-aos="fade-down">
      <div class="col-lg">
        <div class="title-row text-white text-center">
          Kelola Semua Bisnis Anda Hanya Dalam Satu Genggaman
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade-down">
      <div class="col-lg-3 col-md-6">
        <div class="wrap-thumbnail"></div>
      </div>

      <div class="col-lg-3 col-md-6 m-d-none">
        <div class="wrap-thumbnail"></div>
      </div>

      <div class="col-lg-3 col-md-6 m-d-none">
        <div class="wrap-thumbnail"></div>
      </div>

      <div class="col-lg-3 col-md-6 m-d-none">
        <div class="wrap-thumbnail"></div>
      </div>

      <button class="show-more">Lebih Banyak</button>
    </div>
  </div>
</section>


<section class="get-online-store">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="wrap-get-store">
            <!-- <div class="wrap-desc-get-store">
               <h1>Miliki Segera Toko Online Untuk  Meningkatkan Penjualan Anda</h1>
             </div> -->
          </div>
        </div>
      </div>
    </div>
</section>


<section class="service">
  <div class="container">

    <div class="row" data-aos="fade-down">
      <div class="col-lg">
        <div class="title-row text-white text-center">
          Pelayanan yang akan kami berikan
        </div>
      </div>
    </div>

    <div class="row justify-content-center" data-aos="fade-down">
        <div class="col-lg-3 col-md-6">
          <div class="wrap-service-box">
            <div class="icon-service"></div>
            <div class="title-service-box">
              Pusat Bantuan Pelayan Customer 24 jam
            </div>
          </div>
        </div>

         <div class="col-lg-3 col-md-6">
          <div class="wrap-service-box">
            <div class="icon-service"></div>
            <div class="title-service-box">
              Konsultasi Seputar Pengembangan Bisnis             
            </div>
          </div>
        </div>

         <div class="col-lg-3 col-md-6">
          <div class="wrap-service-box">
            <div class="icon-service"></div>
            <div class="title-service-box">
                Memandu Menemukan Solusi Bisnis Anda            
            </div>
          </div>
        </div>

         <div class="col-lg-3 col-md-6">
          <div class="wrap-service-box">
            <div class="icon-service"></div>
            <div class="title-service-box">
              Memandu Menemukan Solusi Bisnis Anda              
            </div>
          </div>
        </div>
    </div>

  </div>
</section>


<section class="testimonial">
  <div class="container">
    
    <div class="row" data-aos="fade-down">
      <div class="col-lg">
        <div class="title-row text-center">
          Apa kata cutomer kami setelah bergabung
        </div>
      </div>
    </div>

    <div class="row" data-aos="fade-down">
      <div class="col">
          <div class="wrap-slide-testi">
            <div class="slide"></div>
            <div class="slide slide-active"></div>
            <div class="slide"></div>
          </div>
      </div>
    </div>

    <div class="row container-dot"> 
        <div class="wrap-dot" data-aos="fade-down">
            <div class="dot"> </div>
            <div class="dot"> </div>
            <div class="dot dot-active"> </div>
            <div class="dot"> </div>
            <div class="dot"> </div>
        </div>
    </div>    

  </div>
</section>


<section class="subcribes"> 
    <div class="container" data-aos="fade-down"> 
        <div class="row"> 

          <div class="col-lg-7">
            <div class="wrap-text-subscribe"> 
                Kini hanya dengan membayar mulai dari 100 Ribu / Bulan kami akan membantu memberikan solusi  terbaik untuk pertumbuhan Bisnis anda
            </div>  
          </div>  
          <div class="col-lg-1">  </div>

          <div class="col-lg-4">  
              <div class="wrap-list-button-subscribe">  
                  <a href="#">
                    <div class="button-subscribe">
                      <div class="left">Mulai Bangun Bisnis anda</div>
                      <div class="right"></div>
                    </div>
                  </a>

                  <a href="#">
                    <div class="button-subscribe">
                      <div class="left">Kembangkan Jangkauan Bisnis</div>
                      <div class="right"></div>
                    </div>
                  </a>

                  <a href="#">
                    <div class="button-subscribe">
                      <div class="left">Pantau Pertumbuhan Bisnis Anda</div>
                      <div class="right"></div>
                    </div>
                  </a>

              </div>  
          </div>  

        </div>  
    </div>  
</section>  

<%- include('template/footer') %>    