<%-include('template/header')%>
<%- include('template/navigation')%>

<section class="hero">
	<div class="container">
		<div class="row">
			
		</div>
	</div>
</section>


<section class="list-kategori-produk">
	<div class="container">
		<div class="row" >
			<div class="col-lg-4">
				<div class="wrap-kategori-produk" style="background-image:url('img/cafe-bg.jpg');">
					
				</div>
			</div>

			<div class="col-lg-4">
				<div class="wrap-kategori-produk" style="background-image:url('img/laundry-bg.jpg');">
					
				</div>
			</div>

			<div class="col-lg-4">
				<div class="wrap-kategori-produk" style="background-image:url('img/retail-bg.jpg');">
					
				</div>
			</div>

			<div class="col-lg-4">
				<div class="wrap-kategori-produk" style="background-image:url('img/store-online-bg.jpg');">
					
				</div>
			</div>

			<div class="col-lg-4">
				<div class="wrap-kategori-produk" style="background-image:url('img/barbershop-bg.jpg');">
					
				</div>
			</div>

			<div class="col-lg-4">
				<div class="wrap-kategori-produk" style="background-image:url('img/boutique-bg.jpg');">
					
				</div>
			</div>

		</div>
	</div>
</section>

<section class="subcribes"> 
    <div class="container" data-aos="fade-down"> 
        <div class="row"> 

          <div class="col-lg-7">
            <div class="wrap-text-subscribe"> 
                Kini hanya dengan membayar mulai dari 100 Ribu / Bulan kami akan membantu memberikan solusi  terbaik untuk pertumbuhan Bisnis anda
            </div>  
          </div>  
          <div class="col-lg-1">  </div>

          <div class="col-lg-4">  
              <div class="wrap-list-button-subscribe">  
                  <a href="#">
                    <div class="button-subscribe">
                      <div class="left">Mulai Bangun Bisnis anda</div>
                      <div class="right"></div>
                    </div>
                  </a>

                  <a href="#">
                    <div class="button-subscribe">
                      <div class="left">Kembangkan Jangkauan Bisnis</div>
                      <div class="right"></div>
                    </div>
                  </a>

                  <a href="#">
                    <div class="button-subscribe">
                      <div class="left">Pantau Pertumbuhan Bisnis Anda</div>
                      <div class="right"></div>
                    </div>
                  </a>

              </div>  
          </div>  

        </div>  
    </div>  
</section> 

<%- include('template/footer')%>